@font-face {
    font-family: CN-Regular;
    src: url('./CN-Regular.otf') format("opentype");
}

.CN-Regular {
    font-family: CN-Regular;
    font-size: 4.2em;
}

@font-face {
    font-family: Rubik-Black;
    src: url('./Rubik-Black.ttf') format("truetype");
}

.Rubik-Black{
    font-family: Rubik-Black;
    font-size: 4.2em;
}

@font-face {
    font-family: SOURCESANSPRO-REGULAR;
    src: url('./SOURCESANSPRO-REGULAR.OTF') format("opentype");
}

.SOURCESANSPRO-REGULAR{
    font-family: SOURCESANSPRO-REGULAR;
    font-size: 4.2em;
}