
/* footer_css */
.footer_a {
    font-family: SOURCESANSPRO-REGULAR;
    font-size:0.8rem;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: #ffffff;
}

.footer_li {
    list-style: none;
    float: left;
}

.footerbox {
    box-shadow: #596168;
    margin-top:200px;
    height: 600px;
    width: 100%;
    background-color: #115596;
    border-radius: 50px 50px 1px 1px;
}

.thanksbox{
    border-radius: 50px 50px 1px 1px;
    background-color: #596168;
    height: 300px;
    width: 100%;
}
.teamlogobox{
    float: left;
    margin-left:80px;
    width: 400px;
    height: 300px;
}
.collabrationbox{
    background-color: #ddcccc;
    height: 300px;
    width: 1200px;
    text-align: center;
    display: inline-block;

}
.contacttext {
    font-weight: bolder;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    padding-top: 40px;
}

.logo {
    width: 1000px;
    height: 25px;
    margin: 60px auto;
}

.logobox {
    width: 80px;
    margin-left: 160px;
}

.logoall {
    width: 80px;
    height: 80px;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: translate(-50%, -50%);
    float: left;
}

.logoall:hover {
    width: 90px;
    height: 90px;
}

.teamlogo{
    background-image: url(../imgs/teamlogo.png);
}
.weibologo {
    background-image: url(../imgs/maillogo.png);
}

.bilibililogo {
    background-image: url(../imgs/bilibililogo.png);
}

.githublogo {
    background-image: url(../imgs/githublogo.png);
}

.schoollogo {
    background-image: url(../imgs/schoollogo.png);
}
