h1 {
    font-family: Rubik-Black;
    margin: 20px 0;
    color: rgb(4, 116, 187);
    /* color:rgb(0,0,0) */
}

h2 {
    font-family: Source-Sans-Pro;
    color: rgb(4, 116, 187);
    font-size: 40px;
}
h3{
    font-family: Source-Sans-Pro;
    margin: 10px 0;
    color: rgb(4, 116, 187);
    font-size: 30px;
}

ul {
    list-style: none;
}

li {
    margin-top: 0.1rem;
    padding-top: 0.1rem;
    text-align: center;
    background-color: white;
    color: black;
    /*width: 2rem;*/
    /*height: 0.33rem;*/
    width: 2.5rem;
    height: 0.5rem;
    border-radius: 0.2rem;
}

a {
    color: black;
    text-decoration: none;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #176dbd;
}

section {
    flex: 1 1 auto;
    flex-direction: row;
    width: 100%;
    background: white;
    z-index: -1;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #115596;
    border-radius: 80px 80px 1px 1px;
}


.main {
    width: 100%;
    display: flex;
    height: 1rem;
    flex-direction: column;
}


.sectionHeader {
    width: 100%;
    height: 18%;
    background-color: white;
    display: flex;
}

.sectionBody {
    display: flex;
    /*flex-direction: row;*/
}

.sectionLeft {
    position: fixed;
    display: flex;
    top: 1rem;
    font-size: 0.5rem;
    width: 2rem;
    height: 10rem;
}

.sectionLeft img {
    width: 0.5rem;
    height: 1rem;
    display: none;
}

.sectionLeft div {
    display: none;
    font-size: 0.1rem;
}

.sectionRight {
    box-shadow: 1px 2px 3px 4px #176dbd inset;
    box-sizing: content-box;
    font-size: 0.2rem;
    margin-left: 2.2rem;
    margin-right: 1.2rem;
    margin-bottom: 0.1rem;
    padding: 0.4rem;
}

.paragraph{
    /* text-indent: 5%; */
    margin:25px 0px;
    font-family:SOURCESANSPRO-REGULAR;
    font-size: 30px;
    color: #38393a;
    text-shadow: 1px 0px;
    opacity: 0.8;
}
.textbolder{
    font-weight:bolder;
}

.reference{
    margin:25px 0px;
    font-family:SOURCESANSPRO-REGULAR;
    font-size: 25px;
    color: #38393a;
    opacity: 0.8;
    font-style: italic;
}


.footerBody {
    display: flex;
    flex-direction: row;
    font-size: 0.1rem;
    padding-left: 1rem;
}

.footerBox img {
    text-align: center;
    width: 0.4rem;
    height: 0.4rem;
    margin: 0.2rem;
    cursor: pointer;
    transition: all 0.6s;
}

.footerBox img:hover {
    transform: scale(1.2);
}

.footerBox {
    width: 1.5rem;
    margin: 0.1rem;
    text-align: center;
    align-content: center;
    color: white;
}

.footerHeader {
    text-align: center;
    margin-top: 50px;
    /*margin: 0.2rem;*/
    font-size: 0.2rem;
    font-weight: bolder;
    color: white;
    width: 100%;
}

.headerBody {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 0.5rem;
}

.nav {
    width: 0.2rem;
    height: 0.2rem;
    position: fixed;
    top: 5%;
    left: 90%;
    z-index: 10;
}

.tableRight {
    position: fixed;
    z-index: 16;
    right: 30%;
    width: 10%;
    height: 50%;
    /*background-color: red;*/
    display: none;
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;
}

.navTable {
    position: fixed;
    width: 20%;
    height: 6rem;
    left: 60%;
    right: 20%;
    display: none;
    font-size: 0.2rem;
    font-weight: bolder;
    z-index: 16;
}

.navLink {
    position: fixed;
    left: 30%;
    width: 20%;
    height: 6rem;
    display: flex;
}


/* 侧边栏文字 */
.sidetitle{
    font-family: Rubik-Black;
    font-size: 30px;
}
